*{
  margin: 0;
  padding: 0;
}
.myLink{
  padding: 0;
  color: white;
  text-decoration: none;
  }
  .myLink:hover{
  border-bottom: 3px solid #f50057;
  }
  .PrivateTabIndicator-colorSecondary-6 {
    background-color: #3f51b5 !important;
    display: none;
    visibility: hidden;
}
.bannerImg{
  width: 100%;
}
.catImg{
  width: 99%;
  /* padding: 0px 20px; */
}
.mycss{
  position: relative;
}
.myDiv{
  width: 100%;
}
.catHead{
  position: absolute;
  top: 40%;
  left: 38%;
  text-align: center;
  
 
}
.myLink{
  text-decoration: none;
  border: none;
}
